@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility text-chrome {
  background: linear-gradient(180deg,
      #ffffff 0%,
      #c0c0c0 40%,
      #2e2e2e 50%,
      #c0c0c0 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -0.02em;
}

@utility text-apex {
  background: linear-gradient(to bottom, #d1d5db 0%, #ffffff 50%, #9ca3af 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.5));
}